<%= turbo_frame_tag comment_reply do %>
  <% if logged_in? && current_user.own?(comment_reply) %>
    <div class="rounded shadow-lg mb-4 comment-balloon-right">
  <% else %>
    <div class="rounded shadow-lg mb-4 comment-balloon-left">
  <% end %>
    <div class="card" id="<%= dom_id(comment_reply, :edit_form) %>" data-focus-comment-reply-target="focusObject" data-parent-id="<%= comment_reply.id %>">
      <% if comment_reply.parent_id.present? %>
        <%= render "comment_replies/parent_comment_reply", parent: comment_reply.call_parent(comment_reply.parent_id) %>
      <% end %>
      <% if comment_reply.comment_reply_image.attached? %>
        <div class="row g-0 justify-content-center">
          <div class="col-md-4 align-self-center me-0">
            <div class="card-body text-center p-1">
              <%= image_tag comment_reply.comment_reply_image.variant(:medium), class: "img-fluid rounded shadow-lg", style: "max-height: 200px;" %>
            </div>
          </div>
          <div class="col-md-7 align-self-center p-1">
            <div class="card shadow-lg">
              <div class="card-header p-1">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-4 px-0 text-center">
                      <% if comment_reply.user.avatar.attached? %>
                        <%= image_tag comment_reply.user.avatar_as_small, class: "img-thumbnail rounded-circle", size: "60x60" %>
                      <% else %>
                        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle", size: "60x60" %>
                      <% end %>
                    </div>
                    <div class="col-8 px-0 text-break">
                      <%= comment_reply.user.name %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body p-2">
                <%= simple_format(comment_reply.body, class: "card-text mb-1") %>
                <p class="card-text text-end"><small class="text-body-secondary"><%= l comment_reply.created_at, format: :long %></small></p>
              </div>
              <div class="card-footer">
                <% if logged_in? && current_user.own?(comment_reply) %>
                  <%= render "comment_replies/crud_menus", comment_reply: comment_reply %>
                <% end %>
                <% if logged_in? && !current_user.own?(comment_reply) %>
                  <%= link_to reply_to_parent_comment_reply_path(comment_reply), data: { turbo_stream: true }, class: "link-success link-underline link-underline-opacity-0" do %>
                    <span class="icon-shadow-common"><i class="fa-solid fa-reply fa-xl"></i></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row g-0">
          <div class="col-12 p-1">
            <div class="card shadow-lg">
              <div class="card-header p-1">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-4 px-0 text-center">
                      <% if comment_reply.user.avatar.attached? %>
                        <%= image_tag comment_reply.user.avatar_as_small, class: "img-thumbnail rounded-circle", size: "60x60" %>
                      <% else %>
                        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle", size: "60x60" %>
                      <% end %>
                    </div>
                    <div class="col-8 px-0 text-break">
                      <%= comment_reply.user.name %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body p-2">
                <%= simple_format(comment_reply.body, class: "card-text mb-1") %>
                <p class="card-text text-end"><small class="text-body-secondary"><%= l comment_reply.created_at, format: :long %></small></p>
              </div>
              <div class="card-footer">
                <% if logged_in? && current_user.own?(comment_reply) %>
                  <%= render "comment_replies/crud_menus", comment_reply: comment_reply %>
                <% end %>
                <% if logged_in? && !current_user.own?(comment_reply) %>
                  <%= link_to reply_to_parent_comment_reply_path(comment_reply), data: { turbo_stream: true }, class: "link-success link-underline link-underline-opacity-0" do %>
                    <span class="icon-shadow-common"><i class="fa-solid fa-reply fa-xl"></i></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
