<div class="container pt-2">
  <% if parent.present? %>
    <%= render "comment_replies/parent_comment_reply", parent: parent %>
  <% end %>
  <%= form_with model: comment_reply, url: (comment_reply.persisted? ? comment_reply_path(comment_reply) : comment_comment_replies_path(comment)) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <% if parent.present? %>
      <%= f.hidden_field :parent_id, value: parent.id %>
    <% end %>
    <div class="mb-2">
      <%= f.label :body, class: "form-label visually-hidden" %>
      <%= f.text_area :body, class: "form-control rounded shadow-lg", rows: 2, placeholder: "#{CommentReply.human_attribute_name(:body)} #{t("comment_replies.index.body_limit")}" %>
    </div>
    <div class="card mb-2 shadow-lg" data-controller="comment-reply-image">
      <div class="row g-0 justify-content-center">
        <div class="col-sm-7">
          <div class="card-body p-2">
            <%= f.label :comment_reply_image, class: "form-label visually-hidden" %>
            <div class="form-text my-0"><%= t("defaults.message.comment_image_quantity_limit") %></div>
            <div class="form-text my-0"><%= t("defaults.message.comment_image_byte_size_limit") %></div>
            <div class="form-text mt-0 mb-2"><%= t("defaults.message.content_type_limit") %></div>
            <%= f.hidden_field :comment_reply_image, value: comment_reply.comment_reply_image.signed_id, data: { comment_reply_image_target: "hiddenField" } %>
            <%= f.file_field :comment_reply_image, direct_upload: true, accept: "image/*", class: "form-control rounded-pill shadow-lg", data: { comment_reply_image_target: "input", action: "click->comment-reply-image#checkForExistingImage change->comment-reply-image#preview" } %>
          </div>
        </div>
        <div class="col-sm-4 align-self-center ms-0" id="<%= dom_id(comment_reply, "form") %>">
          <div class="card-body text-center p-1">
            <% if comment_reply.comment_reply_image.attached? %>
              <div>
                <%= image_tag comment_reply.comment_reply_image, class: "img-fluid rounded shadow-lg mb-1", style: "max-height: 200px;", data: { comment_reply_image_target: "preview" } %>
                <div class="d-flex justify-content-end">
                  <% if comment_reply.comment_reply_image.persisted? %>
                    <%= link_to t("defaults.message.delete"), delete_comment_reply_image_comment_reply_path(comment_reply), data: { turbo_method: :delete, action: "click->comment-reply-image#hiddenClear" }, class: "btn btn-danger rounded-pill shadow-lg" %>
                  <% else %>
                    <button type="button" class="btn btn-danger rounded-pill shadow-lg" data-action="click->comment-reply-image#delete">
                      <%= t("defaults.message.delete") %>
                    </button>
                  <% end %>
                </div>
              </div>
            <% else %>
              <%= image_tag "no_image.png", class: "img-fluid rounded shadow-lg mb-1", style: "max-height: 200px;", data: { comment_reply_image_target: "preview" } %>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger rounded-pill shadow-lg" data-action="click->comment-reply-image#delete">
                  <%= t("defaults.message.delete") %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <ul class="list-inline float-end">
        <li class="list-inline-item me-3 mb-2">
          <%= f.submit class: "btn btn-success rounded-pill shadow-lg" %>
        </li>
        <li class="list-inline-item">
          <% if comment_reply.new_record? %>
            <%= link_to t("defaults.message.cancel"), cancel_new_comment_comment_replies_path(comment), data: { turbo_stream: true }, class: "btn btn-outline-secondary rounded-pill shadow-lg" %>
          <% else %>
            <%= link_to t("defaults.message.cancel"), cancel_edit_comment_reply_path(comment_reply), data: { turbo_stream: true }, class: "btn btn-outline-secondary rounded-pill shadow-lg" %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
