<% if logged_in? && current_user.own?(comment) %>
  <div class="rounded shadow-lg mb-4 comment-balloon-right">
<% else %>
  <div class="rounded shadow-lg mb-4 comment-balloon-left">
<% end %>
  <div class="card">
    <% if comment.comment_image.attached? %>
      <div class="row g-0 justify-content-center">
        <div class="col-md-4 align-self-center me-0">
          <div class="card-body text-center p-1">
            <%= image_tag comment.comment_image.variant(:medium), class: "img-fluid rounded shadow-lg", style: "max-height: 200px;" %>
          </div>
        </div>
        <div class="col-md-7 align-self-center p-1">
          <div class="card shadow-lg">
            <div class="card-header p-1">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-4 px-0">
                    <div class="ratio ratio-1x1" style="width: 60px; height: 60px;">
                      <% if comment.user.avatar.attached? %>
                        <%= image_tag comment.user.avatar.variant(:small), class: "img-thumbnail rounded-circle" %>
                      <% else %>
                        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-8 px-0 text-break">
                    <%= comment.user.name %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <%= simple_format(comment.body, class: "card-text mb-1") %>
              <p class="card-text text-end"><small class="text-body-secondary"><%= l comment.created_at, format: :long %></small></p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row g-0">
        <div class="col-12 p-1">
          <div class="card shadow-lg">
            <div class="card-header p-1">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-4 px-0">
                    <div class="ratio ratio-1x1" style="width: 60px; height: 60px;">
                      <% if comment.user.avatar.attached? %>
                        <%= image_tag comment.user.avatar.variant(:small), class: "img-thumbnail rounded-circle" %>
                      <% else %>
                        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-8 px-0 text-break">
                    <%= comment.user.name %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <%= simple_format(comment.body, class: "card-text mb-1") %>
              <p class="card-text text-end"><small class="text-body-secondary"><%= l comment.created_at, format: :long %></small></p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
