<%= turbo_stream_from "comment_replies_list" %>
<% content_for(:title, t(".title")) %>
<div data-controller="comment-related-search focus-comment-reply">
  <div class="container mt-5 mb-5 min-vh-100">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 px-0">
        <h1 class="text-center mb-4 text-main-color"><%= t(".title") %></h1>
        <div class="container px-5">
          <%= turbo_frame_tag "comment_related_list" do %>
            <%= render "comment_replies/parent_comment", comment: @comment %>
            <div class="mt-0 mb-5">
              <hr size="10", class="bg-main-color border border-0 mt-0 mb-3">
              <h3 class="text-center mb-0"><%= t(".start_replies") %></h3>
            </div>
            <%= render "comment_replies/comment_replies", comment_replies: @comment_replies, comment: @comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render "comment_replies/comment_reply_button", comment: @comment %>
</div>
