<% content_for(:title, t(".title")) %>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-center mb-4 text-main-color"><%= t(".title") %></h1>
      <div class="container bg-body shadow-lg rounded p-4">
        <h4 class="text-center mb-4"><%= t(".explanation") %></h4>
        <%= form_with url: password_resets_path do |f| %>
          <div class="mb-5">
            <%= f.label :email, t(User.human_attribute_name(:email)), class: "form-label" %>
            <%= f.email_field :email, class: "form-control rounded shadow-lg" %>
          </div>
          <div class="mb-5 text-center d-grid gap-2 col-3 mx-auto">
            <%= f.submit t("password_resets.new.submit"), class: "btn btn-success rounded-pill shadow-lg fs-5" %>
          </div>
        <% end %>
        <div class="text-center mb-3">
          <%= link_to login_path, class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" do %>
            <i class="fa-solid fa-right-to-bracket fa-xl"></i>
            <%= t(".to_login_page") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
