<div class="mb-4" id="<%= dom_id(comment) %>">
  <div class="card shadow-lg" id="<%= dom_id(comment, :edit_form) %>" data-focus-comment-target="focusObject" data-focus-id="<%= comment.id %>">
    <% if comment.comment_image.attached? %>
      <div class="row g-0 justify-content-center">
        <div class="col-md-4 align-self-center me-0">
          <div class="card-body text-center p-1">
            <%= image_tag comment.comment_image.variant(:medium), class: "img-fluid rounded shadow-lg", style: "max-height: 200px;" %>
          </div>
        </div>
        <div class="col-md-7 align-self-center p-1">
          <div class="card shadow-lg">
            <div class="card-header p-1">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-4 px-0">
                    <div class="ratio ratio-1x1" style="width: 60px; height: 60px;">
                      <% if comment.user.avatar.attached? %>
                        <%= image_tag comment.user.avatar.variant(:small), class: "img-thumbnail rounded-circle" %>
                      <% else %>
                        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-8 px-0 text-break">
                    <%= comment.user.name %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <%= simple_format(comment.body, class: "card-text mb-1") %>
              <p class="card-text text-end"><small class="text-body-secondary"><%= l comment.created_at, format: :long %></small></p>
            </div>
            <div class="card-footer">
              <%= link_to comment_comment_replies_path(comment), class: "link-success link-underline link-underline-opacity-0" do %>
                <span class="icon-shadow-common">
                  <i class="fa-regular fa-comment-dots fa-2xl"></i>
                  <%= comment.comment_replies_count %>
                </span>
              <% end %>
              <% if logged_in? && current_user.own?(comment) %>
                <%= render "comments/crud_menus", comment: comment %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row g-0">
        <div class="col-12 p-1">
          <div class="card shadow-lg">
            <div class="card-header p-1">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-4 px-0">
                    <div class="ratio ratio-1x1" style="width: 60px; height: 60px;">
                      <% if comment.user.avatar.attached? %>
                        <%= image_tag comment.user.avatar.variant(:small), class: "img-thumbnail rounded-circle" %>
                      <% else %>
                        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-8 px-0 text-break">
                    <%= comment.user.name %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <%= simple_format(comment.body, class: "card-text mb-1") %>
              <p class="card-text text-end"><small class="text-body-secondary"><%= l comment.created_at, format: :long %></small></p>
            </div>
            <div class="card-footer">
              <%= link_to comment_comment_replies_path(comment), class: "link-success link-underline link-underline-opacity-0" do %>
                <span class="icon-shadow-common">
                  <i class="fa-regular fa-comment-dots fa-2xl"></i>
                  <%= comment.comment_replies_count %>
                </span>
              <% end %>
              <% if logged_in? && current_user.own?(comment) %>
                <%= render "comments/crud_menus", comment: comment %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
