<div class="container px-4 mb-4">
  <div class="row justify-content-between">
    <div class="col-7 px-0 text-start">
      <%= link_to search_post_comments_path(post), data: { turbo_stream: true }, class: "link-success link-underline link-underline-opacity-0 me-4" do %>
        <i class="fa-solid fa-magnifying-glass fa-3x"></i>
      <% end %>
      <% if logged_in? && current_user.notified_object(comment).present? %>
        <%= link_to unread_comment_comment_replies_path(comment), data: { turbo_stream: true }, class: "link-success link-underline link-underline-opacity-0" do %>
          <i class="fa-regular fa-comments fa-bounce fa-3x"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-5 px-0 text-end">
      <%= link_to "javascript:void(0)", class: "link-success link-underline link-underline-opacity-0 me-2", data: { action: "click->scroll-page#topPage" } do %>
        <i class="fa-regular fa-circle-up fa-3x"></i>
      <% end %>
      <%= link_to "javascript:void(0)", class: "link-success link-underline link-underline-opacity-0", data: { action: "click->scroll-page#endPage" } do %>
        <i class="fa-regular fa-circle-down fa-3x"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="container px-4" style="min-height: 80px;">
  <div class="row justify-content-between">
    <div class="col-2 px-0 text-start">
      <%= link_to "javascript:history.back()", class: "link-success link-underline link-underline-opacity-0" do %>
        <i class="fa-solid fa-person-walking-arrow-loop-left fa-3x"></i>
      <% end %>
    </div>
    <div class="col-2 px-0 text-end">  
      <%= render "comments/comment_create_button", post: post %>
    </div>
  </div>
</div>
