<div id="<%= dom_id(comment) %>">
  <div class="card mb-3">
    <% if comment.comment_image.attached? %>
      <div class="row g-0 justify-content-center">
        <div class="col-sm-4 align-self-center me-0">
          <div class="card-body p-1">
            <%= image_tag comment.comment_image.variant(:thumb).processed.url, class: "img-fluid rounded" %>
          </div>
        </div>
        <div class="col-sm-7 p-1">
          <div class="card">
            <div class="card-header p-1">
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-2 mb-2">
                  <%= image_tag "sample1.png", class: "rounded-circle me-2", size: "60x60" %>
                </li>
                <li class="list-inline-item fs-5">
                  <%= comment.user.name %>
                </li>
              </ul>
            </div>
            <div class="card-body p-2">
              <p class="card-text mb-0"><%= simple_format(comment.body) %></p>
              <p class="card-text text-end"><small class="text-body-secondary"><%= l comment.created_at, format: :long %></small></p>
            </div>
            <div class="card-footer">
              <% if logged_in? && current_user.own?(comment) %>
                <%= render "comments/crud_menus", comment: comment %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row g-0">
        <div class="col-12 p-1">
          <div class="card">
            <div class="card-header p-1">
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-2 mb-2">
                  <%= image_tag "sample1.png", class: "rounded-circle me-2", size: "60x60" %>
                </li>
                <li class="list-inline-item fs-5">
                  <%= comment.user.name %>
                </li>
              </ul>
            </div>
            <div class="card-body p-2">
              <p class="card-text mb-0"><%= simple_format(comment.body) %></p>
              <p class="card-text text-end"><small class="text-body-secondary"><%= l comment.created_at, format: :long %></small></p>
            </div>
            <div class="card-footer">
              <% if logged_in? && current_user.own?(comment) %>
                <%= render "comments/crud_menus", comment: comment %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
