<div class="card-body p-1">
  <% if comment.comment_image.attached? %>
    <div>
      <%= image_tag comment.comment_image.variant(:thumb).processed.url, class: "img-fluid rounded mb-1", data: { comment_image_target: "preview" } %>
      <div class="d-flex justify-content-end">
        <% if comment.comment_image.persisted? %>
          <%= link_to t("defaults.message.delete"), delete_comment_image_comment_path(comment), data: { turbo_method: :delete }, class: "btn btn-danger rounded-pill", id: "rspec-image-#{comment.comment_image.id}" %>
        <% else %>
          <button type="button" class="btn btn-danger rounded-pill" data-action="click->comment-image#delete">
            <%= t("defaults.message.delete") %>
          </button>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag "no_image.png", class: "img-fluid rounded mb-1", data: { comment_image_target: "preview" } %>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-danger rounded-pill" data-action="click->comment-image#delete">
        <%= t("defaults.message.delete") %>
      </button>
    </div>
  <% end %>
</div>
