<div class="accordion" id="accordionTopPageFunction">
  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header">
      <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span class="text-main-color">
          <i class="fa-solid fa-clipboard-list fa-xl me-2"></i>
          <%= t("defaults.diagnosis") %>
        </span>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionTopPageFunction">
      <div class="accordion-body">
        <span class="top-page-function-font">ログインした状態</span> で診断した場合、診断結果を保存できます。
        <div class="container p-2 mb-3">
          <%= image_tag "diagnosis_save_way.gif", class: "img-fluid rounded" %>
        </div>
        保存した診断結果は、いつでも <span class="top-page-function-font">マイページ</span> から確認することができます。
        <div class="container p-2 mb-3">
          <%= image_tag "diagnosis_confirmation_way.gif", class: "img-fluid rounded" %>
        </div>
        <span class="top-page-function-font">診断結果の管理</span> 画面では、各課題の状態（未対応 / 対応）を変更して、管理することができます。
        <div class="container p-2 mb-3">
          <%= image_tag "diagnosis_state_way.gif", class: "img-fluid rounded" %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span class="text-main-color">
          <i class="fa-regular fa-comment-dots fa-xl me-2"></i>
          コメントへの返信機能
        </span>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionTopPageFunction">
      <div class="accordion-body">
        <span class="top-page-function-font">コメントへの返信</span><br>
        投稿へのコメントに対して、コメントした相手に返信が可能です。どのコメントに対しても返信が可能です。
        <div class="container p-2 mb-3">
          <%= image_tag "reply_to_comment_way.gif", class: "img-fluid rounded" %>
        </div>
        <span class="top-page-function-font">リプライ機能</span><br>
        コメントへの返信機能において、リプライ機能（元になるメッセージと、それに対する自分の返信を一緒に表示して送信する）が使用できます。
        <div class="container p-2">
          <%= image_tag "reply_to_commentReply_way.gif", class: "img-fluid rounded" %>
        </div>
        また、リプライ機能を使用した場合、<span class="top-page-function-font"><i class="fa-solid fa-arrow-turn-up"></i></span> を押すと、
        元になったメッセージを <span class="top-page-function-font">フォーカス</span> することができます。
        <div class="container p-2 mb-3">
          <%= image_tag "focus_to_commentReply_way.gif", class: "img-fluid rounded" %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <span class="text-main-color">
          <i class="fa-regular fa-bell fa-xl me-2"></i>
          通知（確認方法）
        </span>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionTopPageFunction">
      <div class="accordion-body">
        通知を受け取るタイミングは、下記の3パターンです。<br><br>
        ・<span class="top-page-function-font">自分の投稿</span> に対して、<span class="top-page-function-font">コメント</span> があった場合<br>
        <span class="top-page-function-font">通知一覧</span> から、コメントされた自分の投稿に移動できます。
        <div class="container p-2">
          <%= image_tag "notice_comment_to_post.gif", class: "img-fluid rounded" %>
        </div>
        また、<span class="top-page-function-font">自分の投稿</span> に対して、誰がどのコメントを送信したのかがすぐにわかるよう、フォーカス機能を用意しています。<br>
        <span class="top-page-function-font"><i class="fa-regular fa-comments fa-bounce"></i></span> 内にある 
        <span class="top-page-function-font"><i class="fa-solid fa-arrow-turn-up"></i></span> を押してください。
        <div class="container p-2 mb-3">
          <%= image_tag "focus_to_comment_notice.gif", class: "img-fluid rounded" %>
        </div>
        ・<span class="top-page-function-font">自分のコメント</span> に対して、<span class="top-page-function-font">返信</span> があった場合<br>
        ・<span class="top-page-function-font">自分のコメントへの返信</span> に対して、<span class="top-page-function-font">リプライ</span> された場合<br>
        <span class="top-page-function-font">通知一覧</span> から、対象のコメント返信画面に移動できます。
        <div class="container p-2">
          <%= image_tag "notice_commentReply_to_comment.gif", class: "img-fluid rounded" %>
        </div>
        また、<span class="top-page-function-font">自分のコメント</span> や <span class="top-page-function-font">コメントへの返信</span> に対して、
        誰がどの返信を送信したのか、誰にリプライされたのかがすぐにわかるよう、フォーカス機能を用意しています。<br>
        <span class="top-page-function-font"><i class="fa-regular fa-comments fa-bounce"></i></span> 内にある 
        <span class="top-page-function-font"><i class="fa-solid fa-arrow-turn-up"></i></span> を押してください。
        <div class="container p-2 mb-3">
          <%= image_tag "focus_to_commentReply_notice.gif", class: "img-fluid rounded" %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <span class="text-main-color">
          <i class="fa-regular fa-bell fa-xl me-2"></i>
          通知（既読方法）
        </span>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionTopPageFunction">
      <div class="accordion-body">
        通知を既読状態にする方法は、下記の2パターンです。<br><br>
        ・通知を <span class="top-page-function-font">一通ずつ既読</span> する場合<br>
        <span class="top-page-function-font">通知一覧</span> の <span class="top-page-function-font"><i class="fa-solid fa-square-check"></i></span> を押してください。
        <div class="container p-2 mb-3">
          <%= image_tag "read_one_way.gif", class: "img-fluid rounded" %>
        </div>
        ・通知を <span class="top-page-function-font">一度に全て既読</span> する場合<br>
        <span class="top-page-function-font">通知一覧</span> の <span class="top-page-function-font">全てを既読</span> を押してください。
        <div class="container p-2 mb-3">
          <%= image_tag "read_all_way.gif", class: "img-fluid rounded" %>
        </div>
      </div>
    </div>
  </div>
</div>
