<%= turbo_frame_tag dom_id(notification) do %>
  <p data-notification-id="<%= notification.id %>" class="<%= notification.read ? "" : "unread" %> text-break px-2 pt-1 pb-0 mb-0">
    <%= link_to notification_path(notification), data: { turbo_method: :patch }, class: "link-success link-underline link-underline-opacity-0" do %>
      <i class="fa-solid fa-square-check fa-lg"></i>
    <% end %>
    <%= generate_notification_message(notification) %>
    <small class="notification-time bg-body-secondary"><%= "#{time_ago_in_words(notification.created_at)} #{t("notifications.index.ago")}" %></small>
  </p>
<% end %>
