<%= turbo_frame_tag dom_id(notification) do %>
  <p data-notification-id="<%= notification.id %>" class="<%= notification.read ? "" : "unread" %> text-break p-2">
    <%= link_to notification_path(notification), data: { turbo_method: :patch } do %>
      <i class="fa-regular fa-square-check"></i>
    <% end %>
    <%= generate_notification_message(notification) %>
    <span class="notification-time"><%= time_ago_in_words(notification.created_at) %> ago</span>
  </p>
<% end %>
