<header>
  <nav class="navbar sticky-top navbar-expand-lg bg-success p-2 text-black bg-opacity-75">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "sample2.png", size: "60x50", class: "d-inline-block align-middle" %>
        タイトル
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item ms-3">
            <%= link_to t("defaults.diagnosis"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item ms-3">
            <%= link_to t("defaults.post"), posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item ms-3">
            <%= link_to t("defaults.logout"), logout_path, data: { turbo_method: :delete, turbo_confirm: t("defaults.logout_confirmation") }, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown ms-3">
            <%= link_to "#", class: "nav-link dropdown-toggle", role: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false" do %>
              <%= image_tag "sample1.png", class: "rounded-circle", size: "60x60" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="dropdown-item">ユーザー名</li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to t("defaults.my_page"), "#", class: "dropdown-item" %></li>
            </ul>
          </li>
          <!-- if文で分岐 -->
          <li class="nav-item ms-3">
            <%= link_to "#", class: "nav-link" do %>
              <i class="fa-regular fa-bell fa-2xl"></i>
            <% end %>
          </li>
          <!-- if文で分岐 -->
        </ul>
      </div>
    </div>
  </nav>
</header>
