<header class="sticky-top">
  <nav class="navbar navbar-expand-lg p-2 bg-main-color">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "favicon_riskApp.ico", size: "60x60", class: "me-3" %>
        Little Ones Safety
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerHeader">
        <ul class="navbar-nav ms-auto grid gap-0 column-gap-2">
          <li class="nav-item d-flex align-items-center text-lg-center ps-2 ps-lg-0">
            <%= link_to diagnosis_questions_path, class: "nav-link" do %>
              <i class="fa-solid fa-clipboard-list fa-xl"></i><br>
              <small><%= t("defaults.diagnosis") %></small>
            <% end %>
          </li>
          <li class="nav-item d-flex align-items-center text-lg-center ps-2 ps-lg-0">
            <%= link_to posts_path, class: "nav-link" do %>
              <i class="fa-solid fa-list-ul fa-xl"></i><br>
              <small><%= t("defaults.post") %></small>
            <% end %>
          </li>
          <li class="nav-item d-flex align-items-center text-lg-center ps-2 ps-lg-0">
            <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: t("defaults.message.logout_confirmation") }, class: "nav-link" do %>
              <i class="fa-solid fa-right-from-bracket fa-xl"></i><br>
              <small><%= t("defaults.logout") %></small>
            <% end %>
          </li>
          <li class="nav-item dropdown ps-2 ps-lg-0 mb-2 mb-lg-0 d-flex flex-column flex-lg-row">
            <%= link_to "#", class: "nav-link dropdown-toggle p-0 d-flex align-items-center", role: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false" do %>
              <div class="ratio ratio-1x1" style="width: 60px; height: 60px;">
                <% if logged_in? && current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar.variant(:small), class: "img-thumbnail rounded-circle" %>
                <% else %>
                  <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle" %>
                <% end %>
              </div>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-end mt-2">
              <li class="dropdown-item text-break"><%= current_user.name %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to my_page_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-house-user fa-xl"></i>
                  <small><%= t("defaults.my_page") %></small>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item ps-2 ps-lg-0 dropdown d-flex flex-column flex-lg-row">
            <%= turbo_stream_from "notifications_for_user_#{current_user.id}" %>
            <%= link_to "#", class: "nav-link dropdown-toggle align-self-lg-center", role: "button", "data-bs-toggle" => "dropdown", "data-bs-auto-close" => "false", "aria-expanded" => "false" do %>
              <label class="position-relative">
                <i class="fa-regular fa-bell fa-2xl"></i>
                <%= render "notifications/notification_count" %>
              </label>
            <% end %>
            <%= render "shared/notifications_dropdown" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <%= render "shared/flash_message" %>
</header>
