<div class="container shadow-lg bg-body rounded-4 p-4 mb-4" id="diagnosis_result_title_<%= diagnosis_result.id %>">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <%= form_with model: diagnosis_result do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="mb-3">
          <%= f.label :title, class: "form-label visually-hidden" %>
          <%= f.text_field :title, class: "form-control rounded shadow-lg", placeholder: "#{t("diagnosis_questions.result.input_title")}" %>
        </div>
        <div class="float-end">
          <%= f.submit class: "btn btn-success rounded-pill me-2 shadow-lg" %>
          <%= link_to t("defaults.message.cancel"), cancel_edit_diagnosis_result_path(diagnosis_result), data: { turbo_stream: true }, class: "btn btn-outline-secondary rounded-pill shadow-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
