<% content_for(:title, t(".title")) %>
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-center mb-5"><%= t(".title") %></h1>
      <div class="d-flex flex-column flex-sm-row justify-content-center grid gap-3 column-gap-5 mb-5">
        <h3 class="text-center mb-0">
          <% if @diagnosis.title.present? %>
            <%= @diagnosis.title %>
          <% else %>
            <%= "#{l(@diagnosis.created_at, format: :long)} #{t("my_pages.show.results_of")}" %>
          <% end %>
        </h3>
        <div class="text-center">
          <%= render "diagnosis_results/crud_menus", diagnosis: @diagnosis %>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-sm align-self-end mb-3 mb-sm-0">
          <div class="progress" role="progressbar" aria-label="result-progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
            <div class="progress-bar bg-warning" style="width: 0%"></div>
          </div>
        </div>
        <div class="col-sm">
          <div class="text-center">
            <%= image_tag "hedgehog_progress0.png", class: "img-fluid" %>
          </div>
        </div>
      </div>

      <div class="shadow-lg overflow-y-scroll bg-body rounded-4 p-3" style="max-height: 500px;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <%= render partial: "diagnosis_results/card", collection: @results %>
        </div>
      </div>
      
    </div>
  </div>
</div>
