<% content_for(:title, t(".title")) %>
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-md-10 offset-md-1">
      <div class="row align-items-center mb-5">
        <div class="col-11">
          <h1 class="text-center mb-0"><%= t(".title") %></h1>
        </div>
        <div class="col-1">
          <%= link_to diagnosis_result_path(@diagnosis, redirect_after_delete: "true"), data: { turbo_method: :delete, turbo_confirm: t("defaults.message.delete_diagnosis") }, class: "link-success link-underline link-underline-opacity-0 float-end" do %>
            <i class="fa-regular fa-trash-can fa-2xl"></i>
          <% end %>
        </div>
      </div> 
      <div class="d-flex flex-row justify-content-center align-items-center grid gap-0 column-gap-5 mb-5" id="<%= dom_id(@diagnosis) %>">
        <h3 class="mb-0">
          <% if @diagnosis.title.present? %>
            <%= @diagnosis.title %>
          <% else %>
            <%= "#{l(@diagnosis.created_at, format: :long)} #{t("my_pages.show.results_of")}" %>
          <% end %>
        </h3>
        <div class="">
          <%= link_to edit_diagnosis_result_path, data: { turbo_stream: true }, class: "link-success link-underline link-underline-opacity-0" do %>
            <i class="fa-regular fa-pen-to-square fa-2xl"></i>
          <% end %>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-sm align-self-end mb-3 mb-sm-0">
          <div class="progress" role="progressbar" aria-label="result-progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
            <div class="progress-bar bg-warning" style="width: 0%"></div>
          </div>
        </div>
        <div class="col-sm">
          <div class="text-center">
            <%= image_tag "hedgehog_progress0.png", class: "img-fluid" %>
          </div>
        </div>
      </div>

      
      <div class="d-flex flex-row">
        <%= link_to t(".not_compatible"), "", data: { turbo_stream: true }, class: "fs-4 rounded-0 border-bottom-0 btn btn-outline-secondary active" %>
        <%= link_to t(".compatible"), "", data: { turbo_stream: true }, class: "fs-4 rounded-0 border-bottom-0 btn btn-outline-secondary" %>
      </div>        
      <div class="shadow-lg overflow-y-scroll bg-body rounded-bottom border-top p-3 mb-5" style="max-height: 600px;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <%= render partial: "diagnosis_results/card", collection: @results %>
        </div>
      </div>

      <ul class="nav nav-underline justify-content-center fs-4">
        <li class="nav-item">
          <%= link_to t("my_pages.bookmarks.to_my_page"), my_page_path, class: "nav-link text-black p-0" %>
        </li>
      </ul>
    </div>
  </div>
</div>
