<div class="card-body p-2">
  <% if user.avatar.attached? %>
    <div class="container d-flex justify-content-center mb-2">
      <div class="ratio ratio-1x1" style="max-width: 200px; max-height: 200px;">
        <%= image_tag user.avatar, class: "img-fluid rounded-circle shadow-lg", data: { user_avatar_target: "preview" } %>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <% if user.avatar.persisted? %>
        <%= link_to t("defaults.message.delete"), delete_avatar_my_page_path, data: { turbo_method: :delete, action: "click->user-avatar#hiddenClear" }, class: "btn btn-danger rounded-pill shadow-lg" %>
      <% else %>
        <button type="button" class="btn btn-danger rounded-pill shadow-lg" data-action="click->user-avatar#delete">
          <%= t("defaults.message.delete") %>
        </button>
      <% end %>
    </div>
  <% else %>
    <div class="container d-flex justify-content-center mb-2">
      <div class="ratio ratio-1x1" style="max-width: 200px; max-height: 200px;">
        <%= image_tag "no_image.png", class: "img-fluid rounded-circle shadow-lg", data: { user_avatar_target: "preview" } %>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-danger rounded-pill shadow-lg" data-action="click->user-avatar#delete">
        <%= t("defaults.message.delete") %>
      </button>
    </div>
  <% end %>
</div>
