<% content_for(:title, t(".title")) %>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-center mb-4 text-main-color"><%= t(".title") %></h1>
      <div class="container bg-body shadow-lg rounded p-4 mb-4">
        <%= form_with model: @user, url: my_page_path do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <div class="mb-3">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control rounded shadow-lg" %>
          </div>
          <div class="mb-4">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control rounded shadow-lg" %>
          </div>
          <div class="card shadow-lg mb-4" data-controller="user-avatar">
            <div class="row g-0 justify-content-center">
              <div class="col-sm-6">
                <div class="card-body p-2">
                  <%= f.label :avatar, class: "form-label" %>
                  <div class="form-text mt-0"><%= t("defaults.message.comment_image_quantity_limit") %></div>
                  <div class="form-text mt-0"><%= t("defaults.message.comment_image_byte_size_limit") %></div>
                  <div class="form-text mt-0 mb-2"><%= t("defaults.message.content_type_limit") %></div>
                  <%= f.hidden_field :avatar, value: @user.avatar.signed_id, data: { user_avatar_target: "hiddenField" } %>
                  <%= f.file_field :avatar, direct_upload: true, accept: "image/*", class: "form-control rounded-pill shadow-lg", data: { user_avatar_target: "input", action: "click->user-avatar#checkForExistingImage change->user-avatar#preview" } %>
                </div>
              </div>
              <div class="col-sm-5 align-self-center ms-0" id="update_user_avatar">
                <div class="card-body p-2">
                  <% if @user.avatar.attached? %>
                    <div class="container d-flex justify-content-center mb-2">
                      <div class="ratio ratio-1x1" style="max-width: 200px; max-height: 200px;">
                        <%= image_tag @user.avatar, class: "img-fluid rounded-circle shadow-lg", data: { user_avatar_target: "preview" } %>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <% if @user.avatar.persisted? %>
                        <%= link_to t("defaults.message.delete"), delete_avatar_my_page_path, data: { turbo_method: :delete, action: "click->user-avatar#hiddenClear" }, class: "btn btn-danger rounded-pill shadow-lg" %>
                      <% else %>
                        <button type="button" class="btn btn-danger rounded-pill shadow-lg" data-action="click->user-avatar#delete">
                          <%= t("defaults.message.delete") %>
                        </button>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="container d-flex justify-content-center mb-2">
                      <div class="ratio ratio-1x1" style="max-width: 200px; max-height: 200px;">
                        <%= image_tag "no_image.png", class: "img-fluid rounded-circle shadow-lg", data: { user_avatar_target: "preview" } %>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-danger rounded-pill shadow-lg" data-action="click->user-avatar#delete">
                        <%= t("defaults.message.delete") %>
                      </button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 text-center d-grid gap-2 col-3 mx-auto">
            <%= f.submit class: "btn btn-success rounded-pill shadow-lg" %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to "javascript:history.back()", class: "link-success link-underline link-underline-opacity-0" do %>
          <span class="icon-shadow-common"><i class="fa-solid fa-person-walking-arrow-loop-left fa-3x"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
