<% content_for(:title, "#{current_user.name} #{t(".user_posts")}") %>
<div class="container mt-5 mb-5" data-controller="post-search">
  <!-- 表示切り替えリンク -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="border-top border-success border-start-0 border-end-0 border-3 border-opacity-75">      
        <div class="d-flex justify-content-between flex-column flex-md-row grid gap-3 row-gap-2 mt-2 fs-5">
          <%= link_to t(".diagnosis"), my_page_path, class: "btn btn-outline-secondary" %>
          <%= link_to t(".user_posts"), my_posts_my_page_path, class: "btn btn-outline-secondary active" %>
          <%= link_to bookmarks_my_page_path, class: "btn btn-outline-secondary" do %>
            <i class="fa-solid fa-bookmark fa-xl text-primary"></i>
            <%= t(".favorite_posts") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- ユーザーの投稿一覧 -->
  <div class="row mb-3">
    <div class="col-12">
      <h1 class="text-center mb-4"><%= t(".user_posts") %></h1>
      <!-- 検索フォーム -->
      <%= render "shared/my_page_search", q: @q, url: my_posts_my_page_path %>
      <div class="row">
        <% if @my_posts.present? %>
          <%= render partial: "posts/post", collection: @my_posts %>
        <% else %>
          <p><%= t("defaults.message.no_my_posts") %></p>
        <% end %>
      </div>
      <%= render "shared/pagination", objects: @my_posts %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to my_page_path, class: "link-success link-underline link-underline-opacity-0" do %>
        <i class="fa-solid fa-person-walking-arrow-loop-left fa-3x"></i>
      <% end %>  
    </div>
  </div>
</div>
