<% content_for(:title, t(".title")) %>
<div class="container mt-5 mb-5">
  <!-- プロフィール -->
  <div class="row mb-3">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col d-flex flex-row align-items-center">
          <h1 class="mb-0 me-4 text-main-color"><%= t(".title") %></h1>
          <%= link_to edit_my_page_path, class: "link-success link-underline link-underline-opacity-0", id: "button-edit-user" do %>
            <span class="icon-shadow-common"><i class="fa-solid fa-user-pen fa-2xl"></i></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-10 offset-md-1 mb-4">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar_as_small, class: "img-thumbnail rounded-circle d-block w-25 shadow-lg" %>
      <% else %>
        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle d-block w-25 shadow-lg" %>
      <% end %>
    </div>
    <div class="col-md-10 offset-md-1 mb-2">
      <div class="row align-items-center">
        <div class="col-4">
          <h4 class="mb-0"><%= t(User.human_attribute_name(:name)) %></h4>
        </div>
        <div class="col-8">
          <h3 class="mb-0 text-break"><%= current_user.name %></h3>
        </div>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="row align-items-center">
        <div class="col-4">
          <h4 class="mb-0"><%= t(User.human_attribute_name(:email)) %></h4>
        </div>
        <div class="col-8">
          <h3 class="mb-0 text-break"><%= current_user.email %></h3>
        </div>
      </div>
    </div>
  </div>
  <!-- 表示切り替えリンク -->
  <div class="row">
    <div class="col-12">
      <div class="border-top border-success border-start-0 border-end-0 border-3 border-opacity-75 mb-4">      
        <div class="d-flex justify-content-between flex-column flex-md-row grid gap-3 row-gap-2 mt-2 fs-5">
          <%= link_to "javascript:void(0)", class: "btn btn-outline-secondary shadow-lg active" do %>
            <i class="fa-solid fa-clipboard-list fa-xl"></i>
            <%= t(".diagnosis") %>
          <% end %>
          <%= link_to t(".user_posts"), my_posts_my_page_path, class: "btn btn-outline-secondary shadow-lg" %>
          <%= link_to bookmarks_my_page_path, class: "btn btn-outline-secondary shadow-lg" do %>
            <span class="text-primary"><i class="fa-solid fa-bookmark fa-xl"></i></span>
            <%= t(".favorite_posts") %>
          <% end %>
        </div>
      </div>
      <!-- 診断結果一覧 -->
      <div class="container bg-body shadow-lg rounded">
        <ul class="list-group list-group-flush">
          <% if @results.present? %>
            <% @results.each do |result| %>
              <li class="list-group-item" id="diagnosis_result_item_<%= result.id %>">
                <% if result.title.present? %>
                  <%= link_to result.title, diagnosis_result_path(result), class: "link-success link-offset-2 link-underline link-underline-opacity-0 fs-5" %>
                <% else %>
                  <%= link_to "#{l(result.created_at, format: :long)} #{t(".results_of")}", diagnosis_result_path(result), class: "link-success link-offset-2 link-underline link-underline-opacity-0 fs-5" %>
                <% end %>
                <div class="float-end">
                  <%= link_to diagnosis_result_path(result), data: { turbo_method: :delete, turbo_confirm: t("defaults.message.delete_diagnosis") }, class: "link-success link-underline link-underline-opacity-0" do %>
                    <span class="icon-shadow-common"><i class="fa-regular fa-trash-can fa-xl"></i></span>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">
              <p class="fs-5"><%= t(".no_results") %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
