<% content_for(:title, t(".title")) %>
<div class="container mt-5">
  <!-- プロフィール -->
  <div class="row mb-3">
    <div class="col-md-10 offset-md-1">
      <ul class="list-inline float-start">
        <li class="list-inline-item me-4 mb-2">
          <h1 class="mb-0"><%= t(".title") %></h1>
        </li>
        <li class="list-inline-item align-top">
          <%= link_to edit_my_page_path, class: "link-success", id: "button-edit-user" do %>
            <i class="fa-solid fa-user-pen fa-2xl"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-10 offset-md-1 mb-4">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar_as_small, class: "img-thumbnail rounded-circle d-block w-25" %>
      <% else %>
        <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle d-block w-25" %>
      <% end %>
    </div>
    <div class="col-md-10 offset-md-1">
      <ul class="list-inline float-start">
        <li class="list-inline-item me-4 mb-2">
          <h4 class="mb-0"><%= t(User.human_attribute_name(:name)) %></h4>
        </li>
        <li class="list-inline-item">
          <h3 class="mb-0"><%= current_user.name %></h3>
        </li>
      </ul>
    </div>
    <div class="col-md-10 offset-md-1">
      <ul class="list-inline float-start">
        <li class="list-inline-item me-4 mb-2">
          <h4 class="mb-0"><%= t(User.human_attribute_name(:email)) %></h4>
        </li>
        <li class="list-inline-item">
          <h3 class="mb-0"><%= current_user.email %></h3>
        </li>
      </ul>
    </div>
  </div>

  <!-- 表示切り替えリンク -->
  <div class="row">
    <div class="col-12">
      <div class="border-top border-success border-start-0 border-end-0 border-3 border-opacity-75 mb-4">      
        <div class="d-flex justify-content-between flex-column flex-md-row grid gap-3 row-gap-2 mt-2 fs-5">
          <%= link_to t(".diagnosis"), "javascript:void(0)", class: "btn btn-outline-secondary active" %>
          <%= link_to "#{current_user.name} #{t(".user_posts")}", my_posts_my_page_path, class: "btn btn-outline-secondary" %>
          <%= link_to bookmarks_my_page_path, class: "btn btn-outline-secondary" do %>
            <i class="fa-solid fa-bookmark fa-xl text-primary"></i>
            <%= t(".favorite_posts") %>
          <% end %>
        </div>
      </div>

      <div class="shadow-lg rounded-4">
        <ul class="list-group list-group-flush rounded-4">
          <% if @results.present? %>
            <% @results.each do |result| %>
              <li class="list-group-item">
                <% if result.title.present? %>
                  <%= link_to result.title, "", class: "" %>
                <% else %>
                  <%= link_to "#{result.created_at} #{t(".results_of")}", "", class: "" %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">
              <p class="fs-5"><%= t(".no_results") %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
