<%= form_with model: post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="mb-4">
    <%= f.label :title, class: "form-label" %>
    <div class="form-text mb-1"><%= t("defaults.message.input_required") %></div>
    <%= f.text_field :title, class: "form-control rounded-pill" %>
  </div>
  <div class="mb-4">
    <%= f.label :body, class: "form-label" %>
    <%= f.text_area :body, class: "form-control rounded-4", rows: 10 %>
  </div>
  <div class="mb-4" data-controller="file-upload">
    <%= f.label :images, class: "form-label" %>
    <div class="form-text mb-1"><%= t("defaults.message.quantity_limit") %></div>
    <div class="form-text mb-1"><%= t("defaults.message.byte_size_limit") %></div>
    <div class="form-text mb-1"><%= t("defaults.message.content_type_limit") %></div>
    <%= f.file_field :images, multiple: true, direct_upload: true, accept: "image/*", class: "form-control rounded-pill mb-4", data: { "file-upload-target": "fileInput" } %>
    <div data-file-upload-target="hiddenFields">
    </div>
    <div data-file-upload-target="previews">
    </div>
    <div data-file-upload-target="validationImages">
      <% if post.images.attached? %>
        <% post.images.each_with_index do |image, index| %> 
          <div class="mb-5" id="<%= dom_id(image) %>" data-index="<%= index %>">
            <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
            <%= image_tag image.variant(:medium).processed.url, class: "img-fluid rounded-4 mb-2" %>
            <p><%= image.blob.filename %></p>
            <% if image.persisted? %>
              <%= link_to t("defaults.message.delete"), delete_image_post_path(post, image_id: image.id), data: { turbo_method: :delete }, class: "btn btn-danger rounded-pill mb-4", id: "rspec-image-#{image.id}" %>
            <% else %>
              <%= link_to t("defaults.message.delete"), "", class: "btn btn-danger rounded-pill mb-4", data: { action: "click->file-upload#deleteImage", index: "#{index}" } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="my-5 text-center d-grid gap-2 col-3 mx-auto">
    <%= f.submit class: "btn btn-success rounded-pill" %>
  </div>
<% end %>
