<div class="col-12 col-sm-6 col-lg-4 mb-4" id="<%= dom_id(post) %>">
  <div class="card">
    <!-- スライド形式の画像 -->
    <% if post.images.attached? %>
      <div id="carousel-id-<%= post.id %>" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <% post.images.each_with_index do |image, index| %>
            <button type="button" data-bs-target="#carousel-id-<%= post.id %>" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>" aria-current="<%= index == 0 ? "true" : "" %>" aria-label="Slide <%= index + 1 %>"></button>
          <% end %>
        </div>
        <div class="carousel-inner">
          <% post.images.with_all_variant_records.each_with_index do |image, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <%= image_tag images_as_medium(image), class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-id-<%= post.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-id-<%= post.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% else %>
      <%= image_tag "no_image.png", class: "card-img-top img-fluid" %>
    <% end %>
    <div class="card-body">
      <h3 class="card-title mb-3 fs-2"><%= link_to post.title, post_path(post), class: "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover lh-base" %></h4>
      <ul class="list-inline">
        <li class="list-inline-item me-2 mb-2">
          <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar_as_small, class: "img-thumbnail rounded-circle", size: "80x80" %>
          <% else %>
            <%= image_tag "no_image.png", class: "img-thumbnail rounded-circle", size: "80x80" %>
          <% end %>
        </li>
        <li class="list-inline-item fs-5">
          <%= post.user.name %>
        </li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item me-2 mb-2">
          <i class="fa-regular fa-calendar"></i>
        </li>
        <li class="list-inline-item">
          <%= l post.created_at, format: :long %>
        </li>
      </ul>
      <% if logged_in? && current_user.own?(post) %>
        <%= render "posts/crud_menus", post: post  %>
      <% else %>
        <div class="d-flex justify-content-end">
          <%= render "posts/favorite_button", post: post if logged_in? %>
          <%= render "posts/bookmark_button", post: post if logged_in? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
