<div class="col-12 col-sm-6 col-lg-4 mb-4">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <!-- スライド形式の画像 -->
      <% if post.images.attached? %>
        <div id="carousel-id-<%= post.id %>" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <% post.images.each_with_index do |image, index| %>
              <button type="button" data-bs-target="#carousel-id-<%= post.id %>" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>" aria-current="<%= index == 0 ? "true" : "" %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% post.images.each_with_index do |image, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <%= image_tag image.variant(resize_to_limit: [1280, 670]).processed, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-id-<%= post.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-id-<%= post.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% else %>
        <%= image_tag "no_posted_image.png", class: "card-img-top img-fluid" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= link_to post.title, post_path(post), class: "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= image_tag "sample1.png", class: "rounded-circle me-2", size: "40x40" %>
            <%= post.user.name %>
          </li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa-regular fa-calendar me-2"></i>
            <%= l post.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
