<% content_for(:title, t(".title")) %>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="text-center mb-5"><%= t(".title") %></h1>
      <!-- 掲示板内容 -->
      <article class="card mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <!-- スライド形式の画像 -->
              <% if @post.images.attached? %>
                <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
                  <div class="carousel-indicators">
                    <% @post.images.each_with_index do |image, index| %>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>" aria-current="<%= index == 0 ? "true" : "" %>" aria-label="Slide <%= index + 1 %>"></button>
                    <% end %>
                  </div>
                  <div class="carousel-inner">
                    <% @post.images.with_all_variant_records.each_with_index do |image, index| %>
                      <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                        <%= image_tag image.variant(:medium).processed.url, class: "d-block w-100" %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              <% else %>
                <%= image_tag "no_image.png", class: "card-img-top img-fluid" %>
              <% end %>
            </div>
            <div class="col-md-7">
              <h3 class="card-title my-4 fs-2"><%= @post.title %></h3>
              <ul class="list-inline mb-4">
                <li class="list-inline-item me-3 mb-2">
                  <%= image_tag "sample1.png", class: "rounded-circle", size: "80x80" %>
                </li>
                <li class="list-inline-item fs-4">
                  <%= @post.user.name %>
                </li>
              </ul>
              <ul class="list-inline mb-3">
                <li class="list-inline-item me-2 mb-2">
                  <i class="fa-regular fa-calendar"></i>
                </li>
                <li class="list-inline-item">
                  <%= l @post.created_at, format: :long %>
                </li>
              </ul>
            </div>
          </div>
          <hr size="10", class="bg-success border border-0 mb-3">
          <div class="mb-3">
            <%= simple_format(@post.body) %>
          </div>
          <hr size="10", class="bg-success border border-0 mb-4">
          <% if logged_in? && current_user.own?(@post) %>
            <ul class="crud-menu-btn list-inline float-start">
              <li class="list-inline-item me-5 mb-3">
                <%= link_to edit_post_path(@post), class: "link-success link-offset-2 link-underline link-underline-opacity-0 link-opacity-100-hover", id: "button-edit-#{@post.id}" do %>
                  <i class="fa-regular fa-pen-to-square fa-xl"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to post_path(@post, redirect_after_delete: "true"), data: { turbo_method: :delete, turbo_confirm: t("defaults.message.delete_confirm") }, class: "link-success link-offset-2 link-underline link-underline-opacity-0 link-opacity-100-hover", id: "button-delete-#{@post.id}" do %>
                  <i class="fa-regular fa-trash-can fa-xl"></i>
                <% end %>
              </li>
            </ul>
          <% else %>
            <div class="d-flex justify-content-end">
              <%= render "posts/favorite_button", post: @post if logged_in? %>
              <%= render "posts/bookmark_button", post: @post if logged_in? %>
            </div>
          <% end %>
        </div>
      </article>
    </div>
  </div>
  <!-- コメントエリア -->
  <div class="row">
    <div class="col-lg-10 offset-lg-1" id="<%= dom_id(Comment.new) %>">
      <%= render "comments/new_comment_link", post: @post %>
    </div>
  </div>
  <%= render "comments/comments", comments: @comments %>
  <div class="row mb-3">
    <div class="col-lg-10 offset-lg-1">
      <div class="text-center fs-3">
        <%= link_to t(".back_to_previous_page"), "javascript:history.back()", class: "text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" %>
      </div>
    </div>
  </div>
</div>
